@import './abstracts/reset';
@import './abstracts/variables';
@import './abstracts/mixins';

.footer {
    background-color: black;
    height: 355px;

    &__wrapper {
        width: 57%;
        margin: 0 auto
    }

    &__tittle {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: #fefefe;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 22px
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #b9b9b9;
        text-align: center;
        padding-bottom: 37px
    }

    &__icon-block {
        width: 100%;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding-bottom: 34px;

        img {
            margin: 0 6px
        }
    }
}

@media(max-width:$breakpoints-tablet) {
    .footer {
        background-color: black;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;

        &__wrapper {
            width: 80%;
            margin: 0 auto
        }

        &__tittle {
            @include footer-titile-tablet;
            text-align: center;
            padding-top: 25px;
            padding-bottom: 22px
        }

        &__text {
            @include footer-text-tablet;
            text-align: center;
            padding-bottom: 37px
        }

        &__icon-block {
            width: 100%;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            padding-bottom: 34px;

            img {
                margin: 0 6px
            }
        }
    }
}

@media(max-width:$breakpoints-phone) {
    .footer {
        background-color: black;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;

        &__wrapper {
            width: 80%;
            margin: 0 auto
        }

        &__tittle {
            @include footer-titile-phone;
            text-align: center;
            padding-top: 38px;
            padding-bottom: 8px
        }

        &__text {
            @include footer-text-phone;
            text-align: center;
            padding-bottom: 26px
        }

        &__icon-block {
            width: 100%;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            padding-bottom: 25px;

            img {
                margin: 0 6px
            }
        }
    }
}