@import './abstracts/mixins';
@import './abstracts/reset';
@import './abstracts/variables';

header {
    height: 118px
}

.nav-list {
    @include text-nav;
    display: flex;
    justify-content: space-between;
    height: 118px;
    align-items: center;
    width: 70%;
    margin: 0 auto;

    &__item {
        margin-right: 5px
    }

    &__item:last-of-type {
        margin-right: 0
    }

    &__item:hover {
        color: #57a4a4
    }

    &__burger {
        display: none;
        background-color: black;
        width: 44px;
        height: 37px;

        &--line {
            display: block;
            background-color: white;
            height: 2px;
            width: 17px;
            margin: 0 auto;
            margin-bottom: 2px
        }
    }
}

@media(max-width:$breakpoints-tablet) {
    header {
        height: 106px
    }

    .nav {
        width: 100%
    }

    .nav-list {
        @include text-nav-tablet;
        font-size: 1.3vw;
        display: flex;
        justify-content: space-between;
        height: 106px;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        .nav-item:hover {
            color: #57a4a4
        }
    }
}

@media(max-width:$breakpoints-phone) {
    header {
        height: 83px
    }

    .nav {
        position: relative
    }

    .nav-list {
        @include text-nav-phone;
        display: flex;
        justify-content: end;
        height: 83px;
        align-items: center;
        width: 100%;
        margin: 0 auto;

        .active::before {
            content: '';
            position: absolute;
            top: 17px;
            left: 13.5px;
            background-color: white;
            height: 2px;
            width: 17px;
            margin: 0 auto;
            rotate: 45deg;
            transition: all .3s ease 0s
        }

        .active::after {
            content: '';
            position: absolute;
            top: 17px;
            left: 13.5px;
            background-color: white;
            height: 2px;
            width: 17px;
            margin: 0 auto;
            rotate: -45deg;
            transition: all .3s ease 0s
        }

        .active {
            .nav-list__burger--line {
                display: none
            }
        }

        &__item {
            display: none
        }

        &__burger {
            display: block;
            background-color: black;
            width: 44px;
            height: 37px;
            position: relative;

            &--line {
                display: block;
                background-color: white;
                height: 2px;
                width: 17px;
                margin: 0 auto;
                margin-top: 17px
            }

            &::before {
                content: '';
                position: absolute;
                top: 22px;
                left: 14px;
                background-color: white;
                height: 2px;
                width: 17px;
                margin: 0 auto;
                transition: all .3s ease 0s
            }

            &::after {
                content: '';
                position: absolute;
                top: 12px;
                left: 14px;
                background-color: white;
                height: 2px;
                width: 17px;
                margin: 0 auto;
                transition: all .3s ease 0s
            }
        }
    }

    .nav-list__burger-side {
        @include text-nav-phone;
        display: flex;
        flex-direction: column;
        background-color: #F5F5F5;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: 182px;
        position: absolute;
        text-align: left;
        top: 60px;
        right: 0;
        transform: scale(0);
        transform-origin: top right;
        transition: all .3s ease 0s;

        &--item {
            padding: 5px 13px;
            transform: scale(0);
            transform-origin: top right;
            transition: all .3s ease 0s
        }

        .selected {
            background-color: #e5e5e5;
            transition: all 0s ease 0s
        }
    }

    .active {
        transform: scale(1, 1);
        transform-origin: top right;
        transition: all .3s ease 0s;

        .nav-list__burger-side--item {
            transform: scale(1, 1);
            transform-origin: top right;
            transition: all .3s ease 0s
        }

        .nav-list__burger-side--item:hover {
            color: #57a4a4
        }
    }
}