@import './abstracts/mixins';
@import './abstracts/reset';
@import './abstracts/variables';
@import './components/footeer';
@import './components/header';

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto
}

.wrapper {
    max-width: 80%;
    margin: 0 auto
}

.main-img {
    width: 100%;
    margin-bottom: 66px
}

.post-block--title {
    @include main-titile;
    margin-bottom: 24px
}


.post-block__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 21px;
    margin-bottom: 69px
}


.post-block__item {
    display: flex;
    width: 100%;
    align-items: flex-start;

    &--img {
        margin-right: 21px
    }

    &--text {
        .item--tittle {
            @include titile
        }

        .item--comment {
            @include coment-text;
            margin-bottom: 13px
        }

        .item--text {
            @include text
        }
    }
}

.img-block {
    padding-top: 47px;
    padding-bottom: 50px;
    background: rgb(0, 0, 0, 0.03);
    width: 100%;

    &__tittle {
        display: flex;
        justify-content: space-between;
        @include main-titile;
        line-height: 22px;
        margin-bottom: 24px;

        h3:first-child {
            display: none
        }

        h3:last-child {
            font-size: 13px
        }
    }

    &__grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;

        .img-block__item {
            width: 100%
        }
    }
}

@media(max-width:$breakpoints-tablet) {
    body {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        margin: 0 auto
    }

    .wrapper {
        max-width: 80%;
        margin: 0 auto
    }

    .main-img {
        width: 100%;
        margin-bottom: 56px
    }

    .post-block--title {
        @include main-titile-tablet;
        margin-bottom: 24px
    }

    .post-block__grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px 0;
        padding-bottom: 28px
    }

    .post-block__item {
        display: flex;
        width: 100%;
        align-items: flex-start;

        &--img {
            margin-right: 21px;
            width: 43%
        }

        &--text {
            .item--tittle {
                @include titile-tablet
            }

            .item--comment {
                @include coment-text-tablet;
                margin-bottom: 13px
            }

            .item--text {
                @include text-tablet
            }
        }
    }

    .img-block {
        padding-top: 47px;
        padding-bottom: 50px;
        background: rgb(0, 0, 0, 0.03);
        width: 100%;

        &__tittle {
            display: flex;
            justify-content: space-between;
            @include main-titile-tablet;
            margin-bottom: 24px;

            h3 {
                font-size: 2.3vw
            }

            h3:last-child {
                font-size: 2vw
            }
        }

        &__grid {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;

            .img-block__item {
                width: 100%
            }

            .img-block__item:last-of-type {
                display: none
            }
        }
    }
}

@media(max-width:$breakpoints-phone) {
    .main-img {
        width: 100%;
        margin-bottom: 38px
    }

    .post-block--title {
        @include main-titile-phone;
        margin-bottom: 23px
    }

    .post-block__grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0 28.5px;
        margin-bottom: 75.5px
    }

    .post-block__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;

        &--img {
            margin-bottom: 11px
        }

        &--text {
            .item--tittle {
                @include titile-phone
            }

            .item--comment {
                @include coment-text-phone;
                margin-bottom: 13px
            }

            .item--text {
                display: none
            }
        }
    }

    .img-block {
        width: 100%;
        padding-top: 0;
        background-color: white;

        &__tittle {
            display: flex;
            justify-content: space-between;
            @include main-titile-phone;
            margin-bottom: 24px;

            h3 {
                display: none
            }

            h3:first-child {
                display: inline-block;
                font-size: 5vw
            }
        }

        &__grid {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;

            .img-block__item {
                width: 100%;
                display: none
            }

            .img-block__item:first-of-type {
                display: block
            }
        }
    }
}